/**************************************************** GLOBALE  *******************************************************/
/**************************************************************************************************************************/
/**************************************************************************************************************************/

/* Sizing et positionnement du wrapper modal et couleur appliqué */
.modalWrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Réglages de la largeur et longeur de la box modale en responsive , ajout d'une marge interne et fond en blanc */
.modalContent{
    width: 630px;
    height: 688px;
    max-width: calc(100vh - 25px);
    max-height: calc(100vh - 25px);
    background-color: white;
    padding: 25px 30px;
    border-radius: 10px;
    box-sizing: border-box;
}

/* Mise en disposition flex de l'élement groupant le bouton fermeture et page de retour 
en inversé pour garder le positionnement voulu à l'apparition du bouton retour */
.modalMenu{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 24px;
}

.modalMenu button{
    background-color: white;
    border: none;
    width: 24px;
}

/**************************************************** MODAL PAGE 1  *******************************************************/
/**************************************************************************************************************************/
/**************************************************************************************************************************/
.modalPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    margin: auto;
}

.modalPage h2{
    font-size: 26px;
    font-family: "Work Sans";
    color: black;
    font-weight: 400;
    margin-bottom: 46px;
    margin-top: 10px;
}

/* Mise en disposition de grille à 5 colonne et ajout des espacement comme sur la maquette ainsi que des marges 
mise en overflow scroll pour permettre une barre de défilement pour la présence de nombreux projets */
.modalBodyGallery{
    margin-bottom: 38px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 29px;
    column-gap: 9px;
    border-bottom: solid 1px #B3B3B3;
    padding-bottom: 67.3px;
    overflow: scroll;
}

.modalBodyGallery .imgWorks{
    object-fit: cover;
    width: 100%;
}

/* Mise en position relative pour permettre d'indiquer de placer son enfant */
.modalBodyGallery figure{
    position: relative;
}

/* Mise en position par rapport au parent avec absolute, top et right, mise en place d'un curseur */
.imgRecycleBin{
    object-fit: cover;
    position: absolute;
    z-index: 10;
    top: 6px;
    right: 5px;
    cursor: pointer;
}

/* Mise en forme des boutons identique à la maquette */
.gotoPage2, .btnForm{
    width: 56%;
    height: 36px;
    font-family: 'Syne';
	font-weight: 700;
    font-size: 14px;
	color: white;
	background-color: #1D6154;
	text-align: center;
	border-radius: 60px ;
    border: none;
}

/**************************************************** MODAL PAGE 2  *******************************************************/
/**************************************************************************************************************************/
/**************************************************************************************************************************/
#js-modal-title2{
    margin-bottom: 36px;
}

label[for="js-form-title"], label[for="js-form-list"]{
    font-weight: 500;
    margin-bottom: 10px;
}

.modalBodyForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: solid 1px #B3B3B3;
    padding-bottom: 47px;
}

/* Initialisation d'une zone de dépot qui servira de relai et de nouveau input file une fois paramétré ! 
Mise en disposition colonne de ses enfants, espacement, marge inférieur, hauteur de la boite et design */
.dropBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin-bottom: 30px;
    background-color: #E8F1F6;
    border-radius: 3px;
    height: 169px;
}

/* Mise en position asbolut pour retirer l'input file du flux de la page et visibility sur hidden pour le 
masquer */
.dropBox input{
    visibility: hidden;
    position: absolute;
}

/* Label qui va servir de nouveau lien déclencheur de l'input file qui est masqué. Mise d'un curseur pointeur à cette effet.
Paramètrage de son deisgn pour qu'il prenne l'apparence voulu sur la maquette c'est à dire, celle d'un bouton  */
#js-form-loadTitle{
    cursor: pointer;
    color: #306685;
    font-family: 'Work Sans';
    font-weight: 500;
    background-color: #CBD6DC;
    padding: 11px 33px;
    border: none;
    border-radius: 50px;
    margin-bottom: 6px;
}

/* Marge supérieur pour l'icone de représentation d'img au sein de la dropBox */
.dropBox img{
    margin-top: 13px;
}

/* Couleur pour la partie information des fichiers de dépôt */
.dropBox p{
    color: rgba(68, 68, 68, 1);
    font-size: 10px;
}

/* Mise en forme du bouton d'envoi de formulaire */
#js-modal-btnValidate{
    width:237px;
    margin-top: 32px;
    background-color: #A7A7A7;
}

/* Nouvelle marge extérieur basse pour le label assigné aux inputs text */
#js-form-title{
    margin-bottom: 21px;
}

/* Mise en forme des inputs "text et select" pour correpondre à la maquette, hauteur , absence de bordure et ombre portée */
.modalFormInput{
    height:51px;
    border: none;
    filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.09));
}

/* Suppresion de l'apparence de base du select pour le designer avec plus de liberté, couleur de fond et redimensionnement en largeur */
#js-form-list{
    appearance: none;
    background-color: white;
    width: 100%;
}

/* Mise en pos relative pour pouvoir positionner son élément enfant qui est en absolute */
.dropList{
    position: relative;
}

/* Positionnement du chevron de la liste catégories par rapport à sa div parent créer à cet effet */
.dropdownMark{
    position: absolute;
    top: 20px;
    right: 32px;
    cursor: pointer;
}
