/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Mise en place d'une charte graphique pour les couleur et taille police récurente */
:root {
    --main-bg-color: rgba(255,248,220,0.3);
    --filter-bg-color: #1D6154;
	--filter-hover: #0E2F28;

    --main-size: 30px;
    --normal-size: 16px;
    --info-size: 14px;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
/* Mise en place de la couleur de fond du site */
body {
	max-width: 100%;
	font-family: 'Work Sans' ;
	font-size: var(--info-size);
	background-color: var(--main-bg-color);
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	align-items: center;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: var(--main-size);
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 44px;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

/* Rajout du gap entre l'image et l'article, modification du margin pour corresponde à la maquette */
#introduction {
	display: flex;
	align-items: center;
	gap: 72px;
	margin: 139px 0
}
#introduction figure {
	flex: 1
}

/* Modif de la taille img pour correpondre à la maquette */
#introduction img {
	display: block;
	margin: auto;
	width: 474px;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

/* Modifications des gaps pour l'espacement des éléments de la gallery */
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 18px;
	grid-row-gap: 38px;
}

/* On règle la taille des img des travaux pour qu'elle soit toujours pareil même pour les img importés */
.gallery img {
	width: 100%;
	height: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: var(--filter-bg-color);
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


/************************************* Modifs apportées au css de base *****************************************/
/* Sizing de la div de contenu principale à 1140px et centrage, permet de faire la diff avec le footer */
.contenuP{
	max-width: 1140px;
	margin: auto;
}

/* Correction dimensions logo */
.liste-nav img {
	width: 22px;
	height: 22px;
}

/* Suppresion design des liens par défault */
nav li a{
	text-decoration: none;
	color: black;
}

/* Animation au survol pour le menu  */
.liste-nav li a:hover{
	font-weight: 700;
}

/* Modif de la size des textes pour les imgs */
.gallery figcaption{
	font-size: 13px;
	margin-top: 7px;
}

/* Mise en place de l'effet au survol pour les boutons */
input[type="submit"]:hover{
	background-color: var(--filter-hover);
}

/* Ajustement des tailles image comme maquette */
.gallery figure{
	width: 305px;
	height: 407px;
}

/* Rajout d'une largeur fixe pour correpondre à la maquette  */
main{
	width: 83.35%;
	margin: auto;
}

/* Mise en place du fond blanc pour le footer */
.footerContent{
	background-color: white;
	height: 60px;
	display: flex;
	justify-content: flex-end;
	align-items:center;
	margin-top: 45px;
}

#contact{
	margin-top: 57px;
}

/***************************** Menu Filtrer ************************/
/* Mise en disposition flex des élements boutons filter, avec espacement de 10px
marge extérieur pour positioner comme sur la maquette   */ 
.menu-filter{
	display: flex;
	gap: 10px;
  	margin: 51px 180px 51px 180px;
	justify-content: space-around;
}

/* Mise en forme des boutons rajouter dynamiquement depuis l'API avec suppresion du backgroud-color
une mise en couleur verte pour les textes, sizing à 16px et ajout des marges intérieur */
.btn-filter{
	font-family: 'Syne';
	font-weight: 700;
	color: var(--filter-bg-color);
	background-color: rgba(255,248,220,0);
	text-align: center;
	border-radius: 60px ;
	border: 1px solid var(--filter-bg-color);
	font-size: var(--normal-size);
	padding: 9px;
}

/* Mise en forme du bouton Tous pour correspondre à son propre style maquette avec fond vert et couleur de texte blanche */
.js-btn-maj{
	font-family: 'Syne';
	font-weight: 700;
	width: 100px;
	color: white;
	background-color: var(--filter-bg-color);
	border: none;
	border-radius: 60px ;
}

/*************************************** PARTIE ADMIN **************************************************/

/********************* En-tête édition  *****************************/
/* Activation des différentes éléments du mode édition Admin */

#portfolio i.active, .editionMode.active{
	display:flex;
}

/* Sizing, mise en forme et positionnement sur sticky pour le garder dans le flux normal de la page et le régle sur fixed au scroll */
.editionMode{
	background-color: black;
	height: 59px;
	position: sticky;
	top: 0px;
	display: none;
	justify-content: center;
	align-items: center;
	gap: 21px;
}

/* Icone mise en blanc */
.editionMode i{
	color: white;
}

/* Mise en forme de la couleur, taille et police du texte */
.editionModeTxt{
	font-size: var(--normal-size);
  	font-family: "Work Sans";
	color: white;
}

/* Changement du curseur souris au survol des boutons du site  */
button:hover, #portfolio i{
	cursor: pointer;
}

/* Mise en disposition flex et centrage des élements ici le titre h2*/
.titleMore{
	display: flex;
	justify-content: center;
}

/* Sizing et police pour le texte modifier en admin */
#js-modif{
	font-size: var(--info-size);
  	font-family: "Work Sans";
	padding-left: 10px;
}

/* Mise en forme de l'icone pour l'admin */
#portfolio i {
	display: none;
	font-weight: 400;
	position: relative;
	bottom: 50px;
	left: 600px;
	width: fit-content;
}

/************************************* PARTIE HISTORIQUE EDITION *****************************************/

.infoTitle{
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
	position: sticky;
	top: 21px;
}

.editionMode.active{
	flex-direction: column;
	max-height: fit-content;
	gap: 60px;
}

.infoHistoric{
	display: flex;
  	flex-direction: column;
 	color: white;
  	gap: 15px;
	margin-bottom: 30px;
}

.infoList{
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.deleteHisto{
	cursor: pointer;
}

/* Media queries mobile */

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr;
	place-items: center;
  }
  .menu-filter {
    flex-direction: column;
    margin: 20px;
  }

  .js-btn-maj, .btn-filter{
	width: 80%;
	height: 2.5rem;
	margin: auto;
}

.gallery figure{
	width:75%;
}

.gallery figure figcaption{
	text-align: center;
}

header{
	margin: 50px 20px;
}

#introduction img{
	width: 100%;
	height: 321px;
	object-fit: cover;
}

#introduction p{
	text-align: justify;
}

#introduction h2{
	text-align: center;
}
}

